.Dropzone {
    border: 2px dashed #03040c;
    height: 60vh;
    width: 60vw;
    justify-content: center;
    margin: 2rem auto 0 auto;
    /* cursor: pointer; */
    border-radius: 10px;
}
.Dropzone:hover {
    border: 2px dashed rgb(15, 167, 238);
}

.text {
    text-align: center;
}

.text1 {
    text-align: center;
}

.card {
    display: flex;
    width: 18vw;
    height: 30vh;
    margin: auto;
}