.storybook-SideBar {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  width: 250px;
  border-radius: 5px;
  overflow-y: scroll;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(172, 54, 54, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: "#ccc";
  outline: 1px solid rgb(35, 36, 37);
}

.logoSize {
  width: auto;
  height: 80px;
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(172, 54, 54, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: "#ccc";
  outline: 1px solid rgb(35, 36, 37);
}

.hover-List:hover {
  background: #f7f7f3 !important;
  border: 1px;
}

.logoSize {
  width: auto;
  height: 60px;
  display: none;
}

.logoSize[src] {
  display: block;
}

.showIcon {
  visibility: visible !important;
}

.hideIcon {
  display: none !important;
}

.avtiveTab {
  background-color: #f6f9fc !important;
  box-shadow: 0px 0px 8px #888888;
  outline: none !important;
  border-left: 3px solid blue !important;
}

.inActiveTab {
  background: none !important;
  outline: none !important;
}

.child-Icon {
  position: relative;
  left: 50px;
  top: 0px;
}

.LeftArrow {
  border: 3px solid #ccc;
  border-radius: 50%;
}

.RightArrow {
  border: 3px solid #ccc;
  border-radius: 50%;
}
.activeSubTab {
  font-weight: 900 !important;
  text-decoration: underline !important;
}

.InactiveSubTab {
  font-weight: normal !important;
  text-decoration: none !important;
}

.showArrowIcon {
  visibility: visible !important;
}

.hideArrowIcon {
  display: none !important;
}